body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
}

#weather {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}
